.side-bar {
  /* RIght Sidebar: */
  background-image: linear-gradient(-180deg, #8706CD 0%, #DF7F79 100%);
  height:1000px;
  padding: 100px;
}
.current-song {
  color: white;
  background-color: black;
  height: 69px;
  padding-top: 31;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 150px;
  width: 242px;
}

.controller {
  position: absolute;
  left: 0;
  top: 500px;
  width: 242px;
  background-color: black;
  height: 157px;
}
